* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 1rem;
}

window#waybar {
    background: rgba(30, 30, 46, 0.8);
    color: #c8c8c8;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label {
    color: #c8c8c8;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    color: #555555;
    margin: 5px;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.active {
    color: #c8c8c8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #1e1e2e;
    color: #feffff;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-username,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#custom-lock_screen,
#clock,
#battery,
#network,
#tray,
#custom-username,
#temperature,
#workspaces,
#backlight {
    /* background: #1e1e2e; */
    padding: 0px 10px;
}

#pulseaudio {
    /* background: #1e1e2e; */
    padding: 0px 10px;
}

#tray,
#backlight,
#custom-launch_wofi,
#cpu {
    border-radius: 10px 0px 0px 10px;
}

#temperature {
  border-radius: 0px 10px 10px 0px;
}

#workspaces,
#pulseaudio.microphone,
#battery,
#custom-power_btn {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#disk {
    border-radius: 0px;
}

#custom-power_btn {
    padding-right: 15px;
}

#temperature.critical {
    color: #be7472;
}


#workspaces {
    padding-right: 5px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_wofi {
    color: #7199bc;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio {
    color: #9fbdde;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #989abc;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #97bb98;
    border-left: 0px;
}
